/**
 * style.css
 * Andrea Tino - 2017
 */

body {
    padding: 0;
    margin: 0;
}

.container {

}

.container > .house > .horse.white {
    content: url(images/kwhite.svg);
}

.container > .house > .horse.black {
    content: url(images/kblack.svg);
}

.container > .house {
    background-color: #fecea2;
    position: absolute;
    width: 50px;
    height: 50px;
}

.container > .house:nth-child(2n+1) {
    background-color: #d08c4c;
}

.container > .house.highlighted {
    background-color: #ec592d;
}

.container > .house:nth-child(2n+1).highlighted {
    background-color: #c3380e;
}

.container > .house:nth-child(1),
.container > .house:nth-child(2),
.container > .house:nth-child(3),
.container > .house:nth-child(4),
.container > .house:nth-child(5),
.container > .house:nth-child(6),
.container > .house:nth-child(7),
.container > .house:nth-child(8),
.container > .house:nth-child(9) {
    top: 0;
}
.container > .house:nth-child(10),
.container > .house:nth-child(11),
.container > .house:nth-child(12),
.container > .house:nth-child(13),
.container > .house:nth-child(14),
.container > .house:nth-child(15),
.container > .house:nth-child(16),
.container > .house:nth-child(17),
.container > .house:nth-child(18) {
    top: 50px;
}
.container > .house:nth-child(19),
.container > .house:nth-child(20),
.container > .house:nth-child(21),
.container > .house:nth-child(22),
.container > .house:nth-child(23),
.container > .house:nth-child(24),
.container > .house:nth-child(25),
.container > .house:nth-child(26),
.container > .house:nth-child(27) {
    top: 100px;
}
.container > .house:nth-child(28),
.container > .house:nth-child(29),
.container > .house:nth-child(30),
.container > .house:nth-child(31),
.container > .house:nth-child(32),
.container > .house:nth-child(33),
.container > .house:nth-child(34),
.container > .house:nth-child(35),
.container > .house:nth-child(36) {
    top: 150px;
}
.container > .house:nth-child(37),
.container > .house:nth-child(38),
.container > .house:nth-child(39),
.container > .house:nth-child(40),
.container > .house:nth-child(41),
.container > .house:nth-child(42),
.container > .house:nth-child(43),
.container > .house:nth-child(44),
.container > .house:nth-child(45) {
    top: 200px;
}
.container > .house:nth-child(46),
.container > .house:nth-child(47),
.container > .house:nth-child(48),
.container > .house:nth-child(49),
.container > .house:nth-child(50),
.container > .house:nth-child(51),
.container > .house:nth-child(52),
.container > .house:nth-child(53),
.container > .house:nth-child(54) {
    top: 250px;
}
.container > .house:nth-child(55),
.container > .house:nth-child(56),
.container > .house:nth-child(57),
.container > .house:nth-child(58),
.container > .house:nth-child(59),
.container > .house:nth-child(60),
.container > .house:nth-child(61),
.container > .house:nth-child(62),
.container > .house:nth-child(63) {
    top: 300px;
}
.container > .house:nth-child(64),
.container > .house:nth-child(65),
.container > .house:nth-child(66),
.container > .house:nth-child(67),
.container > .house:nth-child(68),
.container > .house:nth-child(69),
.container > .house:nth-child(70),
.container > .house:nth-child(71),
.container > .house:nth-child(72) {
    top: 350px;
}
.container > .house:nth-child(73),
.container > .house:nth-child(74),
.container > .house:nth-child(75),
.container > .house:nth-child(76),
.container > .house:nth-child(77),
.container > .house:nth-child(78),
.container > .house:nth-child(79),
.container > .house:nth-child(80),
.container > .house:nth-child(81) {
    top: 400px;
}
.container > .house:nth-child(82),
.container > .house:nth-child(83),
.container > .house:nth-child(84),
.container > .house:nth-child(85),
.container > .house:nth-child(86),
.container > .house:nth-child(87),
.container > .house:nth-child(88),
.container > .house:nth-child(89),
.container > .house:nth-child(90) {
    top: 450px;
}

.container > .house:nth-child(1),
.container > .house:nth-child(10),
.container > .house:nth-child(19),
.container > .house:nth-child(28),
.container > .house:nth-child(37),
.container > .house:nth-child(46),
.container > .house:nth-child(55),
.container > .house:nth-child(64),
.container > .house:nth-child(73) {
    left: 0;
}
.container > .house:nth-child(2),
.container > .house:nth-child(11),
.container > .house:nth-child(20),
.container > .house:nth-child(29),
.container > .house:nth-child(38),
.container > .house:nth-child(47),
.container > .house:nth-child(56),
.container > .house:nth-child(65),
.container > .house:nth-child(74) {
    left: 50px;
}
.container > .house:nth-child(3),
.container > .house:nth-child(12),
.container > .house:nth-child(21),
.container > .house:nth-child(30),
.container > .house:nth-child(39),
.container > .house:nth-child(48),
.container > .house:nth-child(57),
.container > .house:nth-child(66),
.container > .house:nth-child(75) {
    left: 100px;
}
.container > .house:nth-child(4),
.container > .house:nth-child(13),
.container > .house:nth-child(22),
.container > .house:nth-child(31),
.container > .house:nth-child(40),
.container > .house:nth-child(49),
.container > .house:nth-child(58),
.container > .house:nth-child(67),
.container > .house:nth-child(76) {
    left: 150px;
}
.container > .house:nth-child(5),
.container > .house:nth-child(14),
.container > .house:nth-child(23),
.container > .house:nth-child(32),
.container > .house:nth-child(41),
.container > .house:nth-child(50),
.container > .house:nth-child(59),
.container > .house:nth-child(68),
.container > .house:nth-child(77) {
    left: 200px;
}
.container > .house:nth-child(6),
.container > .house:nth-child(15),
.container > .house:nth-child(24),
.container > .house:nth-child(33),
.container > .house:nth-child(42),
.container > .house:nth-child(51),
.container > .house:nth-child(60),
.container > .house:nth-child(69),
.container > .house:nth-child(78) {
    left: 250px;
}
.container > .house:nth-child(7),
.container > .house:nth-child(16),
.container > .house:nth-child(25),
.container > .house:nth-child(34),
.container > .house:nth-child(43),
.container > .house:nth-child(52),
.container > .house:nth-child(61),
.container > .house:nth-child(70),
.container > .house:nth-child(79) {
    left: 300px;
}
.container > .house:nth-child(8),
.container > .house:nth-child(17),
.container > .house:nth-child(26),
.container > .house:nth-child(35),
.container > .house:nth-child(44),
.container > .house:nth-child(53),
.container > .house:nth-child(62),
.container > .house:nth-child(71),
.container > .house:nth-child(80) {
    left: 350px;
}
.container > .house:nth-child(9),
.container > .house:nth-child(18),
.container > .house:nth-child(27),
.container > .house:nth-child(36),
.container > .house:nth-child(45),
.container > .house:nth-child(54),
.container > .house:nth-child(63),
.container > .house:nth-child(72),
.container > .house:nth-child(81) {
    left: 400px;
}

.container > .house:nth-child(41) {
    background-color: #9c6027;
}

